<ion-header>
  <ion-toolbar>
    <ion-title>
      Lista de Usuarios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ios list-ios hydrated">
    <ion-list-header class="ios hydrated">
      Usuarios
    </ion-list-header>

    <ion-item *ngFor="let Usuarios of Usuarios" class="user-list">
      <ion-label>
        <h5>
          <ion-icon name="person"></ion-icon> {{Usuarios.Descripcion}}
        </h5>
        <p>
          <ion-icon name=""></ion-icon> {{Usuarios.Nombre}}
        </p>
        <p>
          <ion-icon name=""></ion-icon> {{Usuarios.Imagen}}
        </p>
        
      </ion-label>
      
      <div class="item-note" item-end>
        <button ion-button clear [routerLink]="['/edicion/', Usuarios.$key]">
          <ion-icon name="create" style="zoom:2.0"></ion-icon>
        </button>
        <button ion-button clear (click)="deleteUser(Usuarios.$key)">
          <ion-icon name="trash" style="zoom:2.0"></ion-icon>
        </button>
      </div>
    </ion-item>
    
      <ion-button (click)="registerNotification(3)">Notificacion</ion-button>
    
  </ion-list>